*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;	
}
li{
	text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Raleway', sans-serif;
}
/* Logo style */
.logo{
	background: #000;
	width: 100%;
	display: flex;
	justify-content: center;
}
.graficlogo{
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}
/* Menu */
nav{
	margin: auto;
	width: 800px;
	height: 50px;
}
.topnav{
	background-color: #fff;
	font-size: 14px;
	margin-top: 40px;
	z-index: 100;
}
.topnav a{
	color: #000;
	text-align: center;
	padding: 14px 16px;
	font-size: 15px;
}
.topnav a:hover{
	border-bottom: 2px solid #000;
}
.topnav .icon{
	display: none;
}
/* Slideshow container */
.slideshow-container {
	max-width: 100%;
	position: relative;
	margin: auto;
}
/* Hide the images by default */
.mySlides {
		display: none;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
	cursor:pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
/* advantages block index.html */
.advantages_container{
	display: flex;
	justify-content: center;
}
.advanteges{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}
.advantages_item{
	width: 30%;
}
/* Footer */
footer{
	width: 100%;
	height: auto;
	background: #000;
	margin 0 auto;
	text-align: center;
	padding-top: 25px;
}
footer a{
	color: white;
	font-size: 14px;
	margin-left: 10px;
}
footer p{
	color:white;
}
footer nav a:hover{
	border-bottom: 2px solid white;
}
/* Social */
.social img{
	margin-left: 10px;
	margin-bottom: 10px;
}
.social img:hover{
	background: #494949;
	border-radius: 50%;
}
/* Gallery project.html */
.gallery{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.photo-itm{
	width: 25%;
}
.photo-itm img{
	box-sizing: border-box;
	max-width: 100%;
	opacity:0.7;
}
.photo-itm img:hover{
	opacity: 1;
}
/* Blog container*/
.blog-container{
	background: #fafafa;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.2) 0 4px 2px -2px;
	font-weight: 100;
	margin: 48px auto;
	width: 50rem;
}
.blog-container a:hover{
	border-color: #ff4d4d;
	color: #ff4d4d;
}
.blog-cover{
	background: url(../img/world.jpg);
	background-size: cover;
	border-radius: 5px 5px 0 0;
	height: 15rem;
	box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px;
}
.blog-body{
	margin: 0 auto;
	width: 80%;
}
.blog-title{
	padding: 5px 0 5px 0;
}
.blog-title h2 a{
	color: #333;
	text-transform: uppercase;
	font-weight: 100;
}
.blog-text p{
	color: #4d4d4d;
}
.blog-tags ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
}
.blog-tags li + li{
	margin-left: .5rem;
}
.blog-tags a{
	border: 1px solid #999999;
	border-radius: 3px;
	color: #999999;
	font-size: .75rem;
	height: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: 1px;
	padding: 0 .5rem;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	width: 5rem;
}
.blog-footer{
	border-top: 2px solid #e6e6e6;
	margin: 0 auto;
	padding-bottom: .3rem;
	width: 80%;
}
.blog-footer ul{
	list-style: none;
	display: flex;
	justify-content: flex-end;
	padding-left: 0;
	padding-top: 5px;
}
.blog-footer li{
	color: black;
	background: linear-gradient(to top, #e6f3e9, #acdabb);
	font-size: .75rem;
	font-weight: bold;
	height: 1rem;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	white-space: nowrap;
}
.published-date{
	border: 1px solid #999999;
	border-radius: 2px;
	padding: 0 .5rem;
}
/* Location.html */
#map{
	width: 100%;
	height: 500px;
}

/* Form style*/
.block-form{
	display: flex;
	justify-content: center;
}
#popupform li input, #popupform li textarea {
		background-color: #fff;
		border: 1px solid #c0c0c0;
		border-radius: 3px;
		color: #555;
		display: block;
		font-size: 12pt;
		height: 25px;
		margin: 17px 6px 0 0;
		padding: 5px;
		width: 360px;
}
#popupform li textarea{
		height: 60px;

}
#popupform h2 {
		color: #353535;
		font: 1.714em/1em 'Trebuchet MS';
		margin-bottom: 8px;
}
#popupform .comment {
		color: #717171;
		font: 0.928em 'Trebuchet MS';
		margin-bottom: 3px;
}
#popupform .send {
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 3px;
		color: #555;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		height: 34px;
		margin: 10px 0;
		padding: 2px 16px;
		width: 185px;
}
#popupform .send:hover {
		background-color: #4683ea;
		border: 1px solid #4387fd;
		color: #fff;
}
input {
		outline:none;
}
ul{
		list-style: none;
		padding: 0;
}
/* About.html */
.about-container{
	width: 80%;
	margin: 50px auto;
	text-align: center;
}
.about-container img{
	max-width: 100%;
}
.about-container h1{
	margin-top: 40px;
	text-transform: uppercase;
}
.about-container p{
	margin-top: 50px;
}
/* Services.html */
.services{
width: 80%;
	margin: 50px auto;
	text-align: center;
}
.services img{
	max-width: 100%;
}
.services-container{
	margin-top: 50px;
display: grid;
grid-template-columns: auto auto;
grid-gap: 50px 100px;
}
/* Adaptive 768px */
@media screen and (max-width: 768px){
	.topnav a:not(:first-child){
		display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: black;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
	}
	.topnav.responsive a.icon{
		position: absolute;
		right: 0;
		top:0;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
	.advantages_item{
		width: 45%;
	}
	.photo-itm{
		width: 45%;
		margin-left: 10px;
	}
		.graficlogo {
		max-width: 75%;
}
footer a{
	font-size: 10px;
}
.blog-container{
	width: 28rem;
}
}
/* Adaptive 420px */
@media screen and (max-width: 420px){
	.advantages{
		flex-direction: column;
	}
	.advantages_item{
		width: 100%;
	}
	.project{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.gallery{
		width: auto;
		margin: auto;
	}
	.photo-itm{
		width: 70%;
		margin: 0 auto;
	}
	.graficlogo {
		max-width: 50%;
}
.blog-container{
	width: 20rem;
}
.services-container{
grid-template-columns: auto;
}
}